@model Day1ITIASP.Models.Department

@{
    ViewData["Title"] = "Department Details";
}

<h2 class="text-center text-primary my-3">Department Details</h2>

<div class="card shadow-lg mx-auto" style="max-width: 500px;">
    <div class="card-body">
        <h4 class="card-title text-center text-success mb-4">@Model.Name</h4>

        <dl class="row">
            <dt class="col-sm-4">ID:</dt>
            <dd class="col-sm-8">@Model.Id</dd>

            <dt class="col-sm-4">Manager:</dt>
            <dd class="col-sm-8">@Model.Manager</dd>

            <dt class="col-sm-4">Location:</dt>
            <dd class="col-sm-8">@Model.Location</dd>

          
        </dl>

        <div class="text-center mt-4">
            <a asp-action="GetAll" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
